main
{
    color: $color-text;
    padding: 0 100px;


    .section
    {
        padding: 30px 0px;

        &.first
        {
            max-width: 40%;

            .line
            {
                background-color: $color-text;
                width: 90px;
                height: 8px;
                margin: 20px 0;
                animation: line 2s ease-in-out forwards;
            }

            h2
            {
                font-size: 2rem;
                line-height: 30px;
            }
            h3
            {
                padding: 10px 0;
                margin: 10px 0;
                font-size: 1.3rem;
            }
            a
            {
                text-decoration: none;
                color: $color-text;
                font-size: 1rem;
                font-weight: bold;
                border: 1px solid $color-text;
                padding: 20px;
                margin: 10px 0;
                @include trans;    
                position: absolute;

            }
            a:hover
            {
                background-color: $color-text;
                color: #000;
            }
        }
        &.second
        {
            padding: 20px 0;
            margin: 70px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            .box
            {
                padding: 30px;
                margin: 10px 0px;
                min-height: 180px;
                justify-content: center;
                background: $color-card;
                min-width: 200px;
                max-width: 400px;
                @include trans;
                cursor: pointer;

                &:hover
                {
                    box-shadow: 0 10px 5px #000;
                    transform: translateY(-10px) translateX(10px);
                }

                &>p
                {
                    margin: 15px 0;
                }

                &.first
                {
                    animation: box_down 2s ease-out;
                }
                &.second    
                {
                    animation: box_down 2s .5s ease-out forwards;
                    opacity: 0;
                }
                &.third
                {
                    animation: box_down 2s 1s ease-out forwards;
                    opacity: 0;
                }
            }
        }
        
    }
    
}
