header
{
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .logo
    {
        font-family: 'Playfair Display', serif;
        font-size: 4rem;
        color: $color-text;
        text-decoration: none;
    }
    .navContainer
    {
        // justify-content: center;
        // align-items: center;
        font-family: sans-serif;
        .navbar
        {
            text-align: left;
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1rem;
            @include trans;
            border-top: 2px solid #fff;
            li
            {
                // margin: 0 10px;
                padding: 10px 40px;
                @include trans;
                &:hover
                {
                    background-color: #fff;
                }
                &:hover > a 
                {
                color: #000;
                font-weight: medium;
                }
            }
        }
    }
}
