@import './reset';
@import './header';
@import './body';
@import './social';
@import './variables';

body
{
    background-color: #000;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: (80%, 20%);
    background-size: 130vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    // overflow: hidden;
    

} 